<div class="aboutMe">
  <div class="aboutDescription">
    <h3>About me</h3>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nam! Fugit praesentium deleniti voluptas voluptate dolore, molestias laudantium corporis, animi aspernatur delectus natus obcaecati deserunt tempore atque reprehenderit provident architecto!</span>
    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat voluptas similique vero quia beatae distinctio voluptatibus corporis odit adipisci! Est officia praesentium quae maxime. Odio nihil cum deserunt a laudantium?</span>
    <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa, quod nemo eius explicabo eaque maxime necessitatibus suscipit ab ullam corrupti perferendis excepturi voluptatibus eum iure accusamus. Fugiat corrupti recusandae aperiam!</span>
  </div>
  <div class="aboutImage">
    <img src="../../assets/images/3.jpg" alt="">
  </div>
</div>
