<div class="contactSection">
  <h3>Say Hi!</h3>
  <div class="contactInput">
    <h2>Want to discuss a new project?</h2>
    <h4>Say hello! let's discuss your ideas and make it happen</h4>
    <form class="contactInputFields">
      <input type="text" placeholder="Your name" name="" id="">
      <input type="email" placeholder="Your email" name="" id="">
      <textarea placeholder="Your message" name="" id="" cols="30" rows="10"></textarea>
      <div class="sendBtn">
        <a href="" class="btn btn-1">
          <svg>
            <rect x="0" y="0" fill="none" width="100%" height="100%"/>
          </svg>
         Send message
        </a>
      </div>
    </form>
  </div>
</div>